@import "/bower_components/bootstrap/dist/css/bootstrap.css";

h1.title {
  text-align: center;
  font-weight: bold;
  color: #eee;
}

.navbar {
  border: 0 none;
  background: #0088cc;
  margin: 0;
  border-radius: 0;
}

.mates {
  .mate {
    padding: 0;

    img {
      width: 100%;
    }

    .timestamp {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 20px;
      color: #EEE;
      font-weight: bold;
    }
  }
}