@import "/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css";
@import "/bower_components/fontawesome/css/font-awesome.min.css";
body.login {
  color: #F0E7D5;
}
div.login {
  border-radius: 0px;
  background: #213E61;
  padding: 20px;
  padding-top: 10px;
}
div.login h1 {
  color: white;
  text-align: center;
}
div.login h1 .fa {
  padding-left: 10px;
}
div.login #row-field-submit span {
  float: right;
}
@media (min-width: 768px) {
  div.login {
    margin-top: 59px;
  }
}
.register-link a {
  color: #F0E7D5;
  text-decoration: underline;
  float: right;
  margin-top: 10px;
}
.register-link a:visited {
  color: #c5bfb5;
}
body.register {
  color: #f0e7d5;
}
div.register {
  border-radius: 0px;
  background: #213e61;
  padding: 20px;
  padding-top: 10px;
}
div.register h1 {
  color: white;
  text-align: center;
}
div.register h1 .fa {
  padding-left: 10px;
}
@media (min-width: 768px) {
  div.register {
    margin-top: 59px;
  }
}
div.register .fieldset-submit {
  float: right;
}
div.register .alert.alert-danger ul {
  padding-left: 20px;
}
body.settings {
  color: #f0e7d5;
}
div.settings {
  border-radius: 0px;
  background: #213e61;
  padding: 20px;
  padding-top: 10px;
}
div.settings h1 {
  color: white;
  text-align: center;
}
div.settings h3 {
  color: white;
}
@media (min-width: 768px) {
  div.settings {
    margin-top: 59px;
  }
}
div.settings .fieldset-submit {
  float: right;
}
div.settings .alert.alert-danger ul {
  padding-left: 20px;
}
div.settings .cancel-link .cancel-form {
  margin: 6px 12px;
  padding: 0;
}
div.settings .cancel-link .cancel-form:hover {
  color: #6199CD;
  text-decoration: underline;
}
div.settings .cancel-link .cancel-form:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
html,
body {
  height: 100%;
}
body {
  background: #2E4867;
  background: url("../img/background.png") repeat center 0;
  background-size: 100%;
}
@media (max-width: 992px) {
  body {
    background-image: url("../img/background_2tiles.png");
  }
}
body.sidebar-closed .wall {
  left: 0;
}
body.sidebar-closed .sidebar {
  display: none;
}
div.wall {
  position: fixed;
  left: 250px;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  background: #2E4867;
  background: url("../img/background.png") repeat center 0;
  background-size: 100%;
}
@media (max-width: 992px) {
  div.wall {
    background-image: url("../img/background_2tiles.png");
  }
}
.sidebar {
  position: fixed;
  width: 250px;
  background: #324F73;
  border-right: 1px solid #202F42;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.sidebar h2 {
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 16px;
  background: #283F5A;
  border-top: 1px solid #202F42;
  border-bottom: 1px solid #202F42;
}
.sidebar h2 .add-room {
  float: right;
  font-size: 24px;
  margin-top: -5px;
  cursor: pointer;
  color: #888;
}
.sidebar h2 .add-room:hover {
  color: white;
}
.sidebar ul {
  margin: 0;
  padding: 10px;
}
.sidebar ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  padding-bottom: 10px;
}
.sidebar ul li .gravatar {
  border-radius: 16px;
  margin-right: 10px;
}
.sidebar ul li.offline {
  color: #888;
}
.sidebar ul li.offline .gravatar {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.sidebar ul li a.open-room {
  color: white;
  cursor: pointer;
}
.sidebar ul li a.open-room:hover {
  border-bottom: 1px solid white;
  text-decoration: none;
}
.sidebar ul li a.open-room i.fa {
  margin-right: 10px;
}
h1.title {
  text-align: center;
  color: white;
  font-size: 26px;
  margin: 16px 0;
}
.navbar {
  border: 0 none;
  background: #283f5a;
  margin: 0;
  border-radius: 0;
  z-index: 2;
}
.navbar .sidebar-toggler {
  position: absolute;
  font-size: 28px;
  left: 10px;
  top: 16px;
  cursor: pointer;
  color: white;
}
.navbar .navbar-right {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
  margin-top: 0;
}
.navbar .navbar-right a {
  /*       cursor: pointer; */
  color: white;
}
.navbar .navbar-right a.link {
  line-height: 1.6;
  padding: 18px;
  background: #283f5a;
  margin-left: 0;
  cursor: pointer;
}
.navbar .navbar-right a.link.user {
  cursor: default;
}
.navbar .navbar-right a.link .glyphicon {
  margin-right: 5px;
}
.navbar .navbar-right a.link.glyphicon:hover {
  text-decoration: none;
}
.navbar .navbar-right a:hover {
  text-decoration: none;
}
.navbar .navbar-right a.settings.glyphicon:hover {
  text-decoration: underline;
}
.navbar .navbar-right li.menu:hover ul {
  display: block;
}
.navbar .navbar-right li.menu ul {
  display: none;
  background: #283f5a;
  padding-left: 18px;
}
.navbar .navbar-right li.menu ul li {
  display: block;
}
.navbar .navbar-right li.menu ul li .menu-item {
  cursor: pointer;
}
.navbar .navbar-right li.menu ul li .menu-item .glyphicon {
  padding-right: 10px;
  padding-bottom: 20px;
}
.navbar .navbar-right li.menu ul li .menu-item:hover {
  text-decoration: none;
}
.navbar .navbar-right li.menu ul li .menu-item:hover .item {
  border-bottom: 1px solid white;
}
.mates .mate {
  padding: 0;
}
.mates .mate img {
  width: 100%;
}
.mates .mate img.offline {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.mates .mate .timestamp {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: #EEE;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 12px;
  border-radius: 20px;
}
.room-creation-form .disabled {
  color: #999;
}
.close-room {
  margin-left: 4px;
  color: #888;
}
.close-room:hover {
  color: #B86161;
}
