@import "/bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "/bower_components/fontawesome/css/font-awesome.min.css";
/* line 1, /home/nico/work/clojure/teamwall/resources/less/formative.less */
.problem.error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 7, /home/nico/work/clojure/teamwall/resources/less/formative.less */
.alert.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
/* line 13, /home/nico/work/clojure/teamwall/resources/less/formative.less */
.problem.error .help-block,
.problem.error .control-label,
.problem.error .radio,
.problem.error .checkbox,
.problem.error .radio-inline,
.problem.error .checkbox-inline,
.problem.error.radio label,
.problem.error.checkbox label,
.problem.error.radio-inline label,
.problem.error.checkbox-inline label {
  color: #a94442;
}
/* line 1, /home/nico/work/clojure/teamwall/resources/less/login.less */
body.login {
  color: #f0e7d5;
}
/* line 5, /home/nico/work/clojure/teamwall/resources/less/login.less */
div.login {
  border-radius: 0px;
  background: #213e61;
  padding: 20px;
  padding-top: 10px;
}
/* line 6, /home/nico/work/clojure/teamwall/resources/less/login.less */
div.login h1 {
  color: white;
  text-align: center;
}
/* line 9, /home/nico/work/clojure/teamwall/resources/less/login.less */
div.login h1 .fa {
  padding-left: 10px;
}
@media (min-width: 768px) {
  /* line 19, /home/nico/work/clojure/teamwall/resources/less/login.less */
  div.login {
    margin-top: 59px;
  }
}
/* line 23, /home/nico/work/clojure/teamwall/resources/less/login.less */
div.login .alert.alert-danger {
  max-width: 288px;
  height: 34px;
  line-height: 4px;
  margin-bottom: 0;
}
/* line 1, /home/nico/work/clojure/teamwall/resources/less/register.less */
body.register {
  color: #f0e7d5;
}
/* line 5, /home/nico/work/clojure/teamwall/resources/less/register.less */
div.register {
  border-radius: 0px;
  background: #213e61;
  padding: 20px;
  padding-top: 10px;
}
/* line 6, /home/nico/work/clojure/teamwall/resources/less/register.less */
div.register h1 {
  color: white;
  text-align: center;
}
/* line 9, /home/nico/work/clojure/teamwall/resources/less/register.less */
div.register h1 .fa {
  padding-left: 10px;
}
@media (min-width: 768px) {
  /* line 19, /home/nico/work/clojure/teamwall/resources/less/register.less */
  div.register {
    margin-top: 59px;
  }
}
/* line 23, /home/nico/work/clojure/teamwall/resources/less/register.less */
div.register .alert.alert-error ul {
  padding-left: 20px;
}
/* line 27, /home/nico/work/clojure/teamwall/resources/less/register.less */
div.register .fieldset-submit {
  float: right;
}
/* line 31, /home/nico/work/clojure/teamwall/resources/less/register.less */
div.register .alert.alert-danger {
  max-width: 288px;
  height: 34px;
  line-height: 4px;
  margin-bottom: 0;
  margin-top: -49px;
}
/* line 10, /home/nico/work/clojure/teamwall/resources/less/page.less */
html,
body {
  height: 100%;
}
/* line 14, /home/nico/work/clojure/teamwall/resources/less/page.less */
body {
  background: #2E4867;
  background: url("../img/background.png") repeat center 59px;
  background-size: 100%;
}
@media (max-width: 992px) {
  /* line 19, /home/nico/work/clojure/teamwall/resources/less/page.less */
  body {
    background-image: url("../img/background_2tiles.png");
  }
}
/* line 27, /home/nico/work/clojure/teamwall/resources/less/page.less */
h1.title {
  text-align: center;
  color: white;
  font-size: 26px;
}
/* line 33, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar {
  border: 0 none;
  background: #283f5a;
  margin: 0;
  border-radius: 0;
}
/* line 39, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar .navbar-right {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0;
}
/* line 45, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar .navbar-right a {
  cursor: pointer;
  color: white;
}
/* line 49, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar .navbar-right a.link {
  line-height: 1.6;
  padding: 0;
  margin: 18px;
  margin-left: 0;
}
/* line 55, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar .navbar-right a.link .glyphicon {
  margin-right: 5px;
}
/* line 60, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar .navbar-right a.link.glyphicon:hover {
  text-decoration: none;
}
/* line 66, /home/nico/work/clojure/teamwall/resources/less/page.less */
.navbar .navbar-right a:hover {
  background: transparent;
  color: #FFC59F;
  text-decoration: none;
  cursor: pointer;
}
/* line 78, /home/nico/work/clojure/teamwall/resources/less/page.less */
.mates .mate {
  padding: 0;
}
/* line 81, /home/nico/work/clojure/teamwall/resources/less/page.less */
.mates .mate img {
  width: 100%;
}
/* line 85, /home/nico/work/clojure/teamwall/resources/less/page.less */
.mates .mate .timestamp {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: #EEE;
  font-weight: bold;
}
